/*
	a kdyz je link prvni a pak sub-ul, tak mozilla pridava nejake volne misto navic ;(

	absolute position submenu je left 100%, pac se mi to nekdy rozbrazovalo pod dalsi kontent
	rozbrazuje se nad content co je v html souboru pred divem menitka

	nerozumim tomu hacku, co zarovnal uly, tak jak maji byt a zbavil je mista na bullety

	cproxy rusi komentare v html, takze prijde o zavedeni ie7
*/

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.vmenuALIB {								/* top-level menu */
	position: relative; 				/* to let submenus be absolute positioned */
	z-index: 20;
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	list-style: none;
}

.vmenuALIB ul {								/* 1-level menu */
	position: absolute;					/* ie: out of flow, so do not strech height of top-level menu */
	top: -1px;
	left: 160px;							/* due to box model */
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: none;
}

.vmenuALIB ul ul {							/* n-level menu */
}

.vmenuALIB li {								/* top-level menu lineup */
	position: relative;					/* to position submenus */
	float:left;							/* kills unwanted space in ie */
	clear: left;						/* we do not want float left here */
	border: 1px solid black;
	border-top: 0px solid black;
	background-color: #fff;
}

.vmenuALIB ul li {							/* 1 or n-level menu lineup */
	background-color: white;
}


.vmenuALIB li a {							/* all-level menu anchors */
	display: block;						/* to fill full square */
	border: 0px solid #ccc;
	padding: 0px 9px 0px 9px;
	text-decoration: none;
	color: #6c2624;
	vertical-align: bottom;
	line-height: normal;
	width: 160px;
}

.vmenuALIB li a:hover {
	background-color: #cc0001;
	background-image: inherit;
	background-position: inherit;
	background-repeat: inherit;
	color: white;
}

.vmenuALIB ul li a {						/* 1 or n-lvmenu anchors */
	display: block;						/* all same width */
	line-height: normal;
}

.vmenuALIBsubli {
background: #ffffff url(sub.gif) no-repeat 99%;
}
