/* begin Page */

/* Created by Artisteer v3.0.0.35180 */






img
{
  filter: expression(artFixPNG(this));
}

/* end Page */

/* begin Box, Sheet */
.art-sheet, .art-sheet-body
{
  zoom: 1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  font-size: 1px;
  background: none;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_s.png',sizingMethod='scale')");
}

.art-sheet-tl
{
  clip: rect(auto 26px 26px auto);
}

.art-sheet-tr
{
  left:expression(this.parentNode.offsetWidth-52+'px');
  clip: rect(auto auto 26px 26px);
}

.art-sheet-bl
{
  top: expression(this.parentNode.offsetHeight-52+'px');
  clip: rect(26px 26px auto auto);
}

.art-sheet-br
{
  top: expression(this.parentNode.offsetHeight-52+'px');
  left:expression(this.parentNode.offsetWidth-52+'px');
  clip: rect(26px auto auto 26px);
}

.art-sheet-tc, .art-sheet-bc
{
  width: expression(this.parentNode.offsetWidth-52+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_h.png',sizingMethod='scale')");
}

.art-sheet-tc
{
  clip: rect(auto auto 26px auto);
}

.art-sheet-bc
{
  top: expression(this.parentNode.offsetHeight-52+'px');
  clip: rect(26px auto auto auto);
}

.art-sheet-cr, .art-sheet-cl
{
  height: expression(this.parentNode.offsetHeight-52+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_v.png',sizingMethod='scale')");
}

.art-sheet-cr
{
  left:expression(this.parentNode.offsetWidth-52+'px');
  clip: rect(auto auto auto 26px);
}

.art-sheet-cl
{
  clip: rect(auto 26px auto auto);
}

.art-sheet-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-52+'px');
  height: expression(this.parentNode.offsetHeight-52+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/sheet_c.png',sizingMethod='scale')");
}
#art-page-background-top-texture, #art-page-background-middle-texture, #art-page-background-glare
{
  width: expression(document.body.clientWidth>900px?"100%":"900px");
}

/* end Box, Sheet */

/* begin Header */
div.art-header-png
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  zoom: 1;
}

.art-button-wrapper .art-button
{
  float: left;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/button.png',sizingMethod='crop')");
}

.art-button-wrapper .art-button-r
{
  left:expression(this.parentNode.offsetWidth-403+'px');
  clip: rect(auto auto auto 402px);
}

.art-button-wrapper .art-button-l
{
  width: expression(this.parentNode.offsetWidth-1+'px');
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.art-vmenublock, .art-vmenublock-body
{
  zoom: 1;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  font-size: 1px;
  background: none;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_s.png',sizingMethod='scale')");
}

.art-vmenublock-tl
{
  clip: rect(auto 4px 4px auto);
}

.art-vmenublock-tr
{
  left:expression(this.parentNode.offsetWidth-8+'px');
  clip: rect(auto auto 4px 4px);
}

.art-vmenublock-bl
{
  top: expression(this.parentNode.offsetHeight-8+'px');
  clip: rect(4px 4px auto auto);
}

.art-vmenublock-br
{
  top: expression(this.parentNode.offsetHeight-8+'px');
  left:expression(this.parentNode.offsetWidth-8+'px');
  clip: rect(4px auto auto 4px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  width: expression(this.parentNode.offsetWidth-8+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_h.png',sizingMethod='scale')");
}

.art-vmenublock-tc
{
  clip: rect(auto auto 4px auto);
}

.art-vmenublock-bc
{
  top: expression(this.parentNode.offsetHeight-8+'px');
  clip: rect(4px auto auto auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  height: expression(this.parentNode.offsetHeight-8+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_v.png',sizingMethod='scale')");
}

.art-vmenublock-cr
{
  left:expression(this.parentNode.offsetWidth-8+'px');
  clip: rect(auto auto auto 4px);
}

.art-vmenublock-cl
{
  clip: rect(auto 4px auto auto);
}

.art-vmenublock-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-8+'px');
  height: expression(this.parentNode.offsetHeight-8+'px');
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenublock_c.png',sizingMethod='scale')");
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}
.art-vmenublockcontent, .art-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.art-vmenu .art-vmenu-separator, ul.art-vmenu .art-vmenu-separator-span, ul.art-vmenu li.art-vsubmenu-separator, ul.art-vmenu .art-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

ul.art-vmenu a:hover
{
  visibility: visible;
}

ul.art-vmenu li
{
  zoom:1;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  font-size: 1px;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/vmenuitem.png',sizingMethod='crop')");
}

ul.art-vmenu a .r
{
  left:expression(this.parentNode.offsetWidth-898+'px');
  clip: rect(auto auto auto 873px);
}

ul.art-vmenu a .l
{
  width: expression(this.parentNode.offsetWidth-25+'px');
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul a
{
  color: #FFFFFF !important;
  position: relative;
  zoom: 1;
}
ul.art-vmenu ul li{
  position: relative;
  zoom: 1;
}

ul.art-vmenu ul a.active
{
  color: #060F16 !important;
}

ul.art-vmenu ul a:hover {
  color: #E9F2F9 !important;
}	

ul.art-vmenu ul a:hover span, ul.art-vmenu ul a:hover span span
{
  color: #E9F2F9 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.art-block, .art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  zoom: 1;

}

.art-blockheader .l, .art-blockheader .r
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockheader.png',sizingMethod='crop')");
}

.art-blockheader .r
{
  left:expression(this.parentNode.offsetWidth-888+'px');
  clip: rect(auto auto auto 869px);
}

.art-blockheader .l
{
  width: expression(this.parentNode.offsetWidth-19+'px');
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent, .art-blockcontent-body
{
  zoom: 1;
}
.art-blockcontent-body ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/blockcontentbullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-post, .art-post-body
{
  zoom: 1;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl, .art-post-tc, .art-post-bc,.art-post-cr, .art-post-cl
{
  font-size: 1px;
  background: none;
}

.art-post-tr, .art-post-tl, .art-post-br, .art-post-bl
{
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/post_s.png',sizingMethod='scale')");
}

.art-post-tl
{
  clip: rect(auto 7px 7px auto);
}

.art-post-tr
{
  left:expression(this.parentNode.offsetWidth-14+'px');
  clip: rect(auto auto 7px 7px);
}

.art-post-bl
{
  top: expression(this.parentNode.offsetHeight-14+'px');
  clip: rect(7px 7px auto auto);
}

.art-post-br
{
  top: expression(this.parentNode.offsetHeight-14+'px');
  left:expression(this.parentNode.offsetWidth-14+'px');
  clip: rect(7px auto auto 7px);
}

.art-post-tc, .art-post-bc
{
  width: expression(this.parentNode.offsetWidth-14+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/post_h.png',sizingMethod='scale')");
}

.art-post-tc
{
  clip: rect(auto auto 7px auto);
}

.art-post-bc
{
  top: expression(this.parentNode.offsetHeight-14+'px');
  clip: rect(7px auto auto auto);
}

.art-post-cr, .art-post-cl
{
  height: expression(this.parentNode.offsetHeight-14+'px');
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/post_v.png',sizingMethod='scale')");
}

.art-post-cr
{
  left:expression(this.parentNode.offsetWidth-14+'px');
  clip: rect(auto auto auto 7px);
}

.art-post-cl
{
  clip: rect(auto 7px auto auto);
}

.art-post-cc
{
  font-size: 1px;
  width: expression(this.parentNode.offsetWidth-14+'px');
  height: expression(this.parentNode.offsetHeight-14+'px');
  background-color: #FFFFFF;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.art-postmetadataheader
{
    zoom:1;
    }


/* end PostMetadata, PostMetadataHeader */

/* begin PostBullets */
.art-post ul li, .art-post ol ul li
{
  height: 1%;
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postbullets.png',sizingMethod='crop')");
  padding-left: 12px;
  /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}

.art-post ul ol li
{
  background: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
  padding-left: 0;
  /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote
{
  height: 1%;
  background-image: none;
  behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/postquote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin PostMetadata, PostMetadataFooter */
.art-postmetadatafooter
{
    zoom:1;
    }


/* end PostMetadata, PostMetadataFooter */

/* begin Footer */
.art-footer, .art-footer-body
{
  zoom:1;
}

.art-footer-text
{
  height: 1px;
}



/* end Footer */

/* begin LayoutCell, content */

.art-sidebar1 {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {zoom:1;}

/* end LayoutCell, content */



.commentlist, .commentlist li
{
  behavior: none;
}
