<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>MeshCMS</display-name>
  <description>Open Source Content Management System</description>
  <filter>
    <filter-name>meshcms</filter-name>
    <filter-class>org.meshcms.core.HitFilter</filter-class>
  </filter>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>meshcms</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>org.meshcms.core.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>downloadzip</servlet-name>
    <servlet-class>org.meshcms.core.DownloadZipServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>captcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptcha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmlSiteMap</servlet-name>
    <servlet-class>org.meshcms.extra.XmlSiteMap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/servlet/org.meshcms.core.DownloadServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>downloadzip</servlet-name>
    <url-pattern>/servlet/org.meshcms.core.DownloadZipServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>captcha</servlet-name>
    <url-pattern>/captcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlSiteMap</servlet-name>
    <url-pattern>/meshcms_sitemap.xml</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>sitemesh-page</taglib-uri>
    <taglib-location>/WEB-INF/tlds/sitemesh-page.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>sitemesh-decorator</taglib-uri>
    <taglib-location>/WEB-INF/tlds/sitemesh-decorator.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>meshcms-taglib</taglib-uri>
    <taglib-location>/WEB-INF/tlds/meshcms-taglib.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>standard-fmt-rt</taglib-uri>
    <taglib-location>/WEB-INF/tlds/fmt-rt.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>standard-core</taglib-uri>
    <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>standard-fmt</taglib-uri>
    <taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
  </taglib>
</web-app>
