body {
 margin: 0;
 overflow: hidden;
}

.full {
 width: 100%;
 height: 100%;
}

.menuicon {
 vertical-align: middle;
 margin-right: 1em;
}

img {
 border: none;
}

body, th, td {
 font-family: "DejaVu LGC Sans", "Bitstream Vera Sans", "Lucida Sans Unicode", sans-serif;
}

body, th, td {
 font-size: 0.7em;
}

th {
 background-color: #e0dfe3;
}
