#Generated Tidy configuration file
#Mon Oct 29 12:51:15 CET 2007
literal-attributes=no
keep-time=yes
output-xhtml=yes
input-xml=no
quote-marks=no
write-back=yes
numeric-entities=no
new-inline-tags=
quote-nbsp=yes
tidy-mark=no
logical-emphasis=yes
add-xml-pi=no
new-blocklevel-tags=
indent-attributes=no
break-before-br=no
quote-ampersand=yes
indent=auto
gnu-emacs=no
enclose-text=no
uppercase-tags=no
wrap-php=yes
doctype=loose
drop-font-tags=no
assume-xml-procins=no
hide-endtags=no
char-encoding=utf8
indent-spaces=2
fix-bad-comments=yes
enclose-block-text=no
uppercase-attributes=no
wrap-asp=yes
wrap-jste=yes
fix-backslash=yes
wrap-attributes=no
new-pre-tags=
drop-empty-paras=yes
clean=yes
tab-size=2
markup=yes
output-xml=no
quiet=no
word-2000=yes
wrap-script-literals=no
wrap=80
show-warnings=yes
add-xml-decl=no
add-xml-space=no
alt-text=
new-empty-tags=
