
.webfx-menu, .webfx-menu * {
	/*
	Set the box sizing to content box
	in the future when IE6 supports box-sizing
	there will be an issue to fix the sizes

	There is probably an issue with IE5 mac now
	because IE5 uses content-box but the script
	assumes all versions of IE uses border-box.

	At the time of this writing mozilla did not support
	box-sizing for absolute positioned element.

	Opera only supports content-box
	*/
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}

.webfx-menu {
	position:			absolute;
	z-index:			100;
	visibility:			hidden;
	width:				100px;
	background:			Menu;
	border:				2px outset Menu;
	padding:			1px;	filter:				none;	-moz-opacity:		1;
}

.webfx-menu-empty {
	display:			block;
	font:				Menu;
	color:				MenuText;
	height:				16px;
	padding-left:		5px;
	padding-right:		5px;
}

.webfx-menu a {
	display:			block;
	width:				expression(constExpression(ieBox ? "100%" : "auto"));	/* should be ignored by mz and op */
	text-decoration:	none;
	color:				MenuText;
	XXXheight:				18px;	height:				expression(constExpression("1px"));
	vertical-align:		center;	padding:			2px;
	padding-left:		3px;
	padding-right:		3px;
	cursor:				default;
	font:				Menu;
	border:				0;
	XXXoverflow:			hidden;
}	

.webfx-menu a:visited {
	color:			MenuText;
	border:			0;
}

.webfx-menu a:hover,
.webfx-menu a:visited:hover {
	color:			HighlightText;
	background:		Highlight;
	border:			0;
}	

.webfx-menu a .arrow {
	float:			right;
	border:			0;
	width:			3px;
	XXXheight:			16px;	margin-top:		3px;
	margin-right:	3px;
}

/* separtor */
.webfx-menu div {
	height:			0;
	height:			expression(constExpression(ieBox ? 2 : 0));
	border-top:		1px solid ButtonShadow;
	border-bottom:	1px solid ButtonHighlight;
	overflow:		hidden;
	margin:			0;
	margin-top:		2px;
	margin-bottom:	2px;
	font-size:		0mm;
}

.webfx-menu-bar {
	background:		buttonface;

	padding:		2px;
	
	font-family:	Verdana, Helvetica, Sans-Serif;
	font-size:		11px;
	
	/* IE5.0 has the wierdest box model for inline elements */
	padding:		expression(constExpression(ie50 ? "0px" : "2px"));
}

.webfx-menu-bar a,
.webfx-menu-bar a:visited,
.webfx-menu-bar a:visited:hover {
	color:				ButtonText;
	border:				1px solid ButtonFace;
	
	text-decoration:	none;
	padding:			1px;
	padding-left:		5px;
	padding-right:		5px;

	/* IE5.0 Does not paint borders and padding on inline elements without a hieght/width */
	height:		expression(constExpression(ie50 ? "17px" : "auto"));		white-space:	nowrap;
}

.webfx-menu-bar a:hover {
	color:			ButtonText;
	background:		ButtonFace;
	border-left:	1px solid ButtonHighlight;
	border-right:	1px solid ButtonShadow;
	border-top:		1px solid ButtonHighlight;
	border-bottom:	1px solid ButtonShadow;
}

.webfx-menu-bar a .arrow {
	border:			0;
	float:			none;

/*
	float:			right;
	width:			6px;
	height:			16px;

	margin-right:	2px;
	background: red;
*/
}

.webfx-menu-bar a:active, .webfx-menu-bar a:focus {
	-moz-outline:	none;
	outline:		none;
	/*
		ie does not support outline but ie55 can hide the outline using
		a proprietary property on HTMLElement. Did I say that IE sucks at CSS?
	*/
	ie-dummy:		expression(this.hideFocus=true);		border-left:	1px solid ButtonShadow;
	border-right:	1px solid ButtonHighlight;
	border-top:		1px solid ButtonShadow;
	border-bottom:	1px solid ButtonHighlight;
}