body, th, td {
 font-family: "Bitstream Vera Sans", serif;
 font-size: 13px;
 color: #000000;
}

th {
 background: url(back.jpg) #F3D855;
}

td.header {
 background: url(flowers.jpg) no-repeat;
 height: 140px;
 padding: 10px;
 font-size: 22px;
}

td.leftcolumn {
 background-color: #E2E0C9;
 width: 180px;
 padding: 10px;
}

td.breadcrumbs {
 font-size: 80%;
 background-color: #E2E0C9;
 padding: 2px 20px 2px 20px;
}

td.lastmodified {
 text-align: right;
 font-size: 70%;
}

pre {
 font-family: "Bitstream Vera Sans Mono", monospace;
 font-size: 11px;
}

a {
 color: #5A4129;
 font-weight: bold;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

hr {
 color: #5A4129;
}

img {
 border-style: none;
}

input, select, textarea {
 border: 1px inset #cccccc;
 font-family: "Bitstream Vera Sans Mono", monospace;
 font-size: 11px;
}

.tinytext {
 font-size: 80%;
}

.addpadding {
 padding: 12px;
}

table.meshcmseditor th {
 background-image: none;
}
